    /* css normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}b,strong,optgroup{font-weight:700;}pre,textarea{overflow:auto;}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;}

    /* clearfix */
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

    /* border box */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/*///////////////////////////////////////////////////////*/

body {
	background: white;
	color: black;
	/*font-size: 62.5%;*/

}
 .wrapper {
 	width: 100%;
 	background: white;
 	margin: 0 auto;

 }
 .header {
 	width: 100%;
 	padding: 0;
 	border-bottom: 1px solid black;
 }
img {
	max-width: 100%;
}
em {
	font-style: italic;
}
 /*//////////////////////////////////////////////////////////
 						NAVIGATION
 /////////////////////////////////////////////////////////*/	
 ul.nav { 
 	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	letter-spacing: 2px;
	position:fixed;
	background: white;
	border-bottom: 1px solid black;
 }
 	ul.nav li { 
 		background: white;
 		display: inline-block;
 		position: relative;
 		width: 24%;
 		padding-bottom: 10px;
		margin-top: 10px;
 	}
 	ul.nav li:hover ul.sub_nav {
 		display: block;
 	}
 	ul.nav li a {
 		width: 100%;
 		float: left;
 		display: block;
 		background: white;
 		color: black;
 		border-top: 3px solid transparent;
 		padding: 20px;
 		text-decoration: none;		
 	}
 		ul.nav > li:hover > a {
 			border-top-color: black;
 		}

 		ul.sub_nav {
 			position: absolute;
 			top: 70px;
 			left: 0;
 			background: white;
 			padding: 0 75px;
 			display: none;
 			font-size: 0.9rem;
 		}
 		ul.sub_nav li {
			width: 100%;
			padding: 0;
 		}

 		ul.sub_nav li a {
 			border-top: 1px solid transparent;
 		}

 		ul.sub_nav li:hover a {
 			border-top-color: black;
 		}

/*//////////////////////////////////////////////////////////
						CONTENT
/////////////////////////////////////////////////////////*/						
 svg.logo {
	width: 10%;
	height: 10%;
	position: fixed;
	bottom: 135px;
	left: 0px;
	z-index: 5;
 }
 .glasses { /*fixed SVG logo*/
  fill: black;
}
 .main_image {
 	width: 100%;
 	height: 475px;
 	background: black;
 	margin: 82px 0;
 	text-align: center;
 	background: url('images/bg01.jpg') no-repeat center center;
 	background-size: cover;
 }
 .content {
	width: 100%;
	background: white;
	margin: 150px auto;
	text-align: center;
 }
h1 {
	font-family: 'Prata', serif;
	font-weight: 400;
	font-size: 3.5rem;
	background: white;
	text-align: center;
	margin: 0;
}
h2 {
	font-family: 'Prata', serif;
	font-size: 2.5em;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
h3 {
	font-family: 'Prata', serif;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
 	.column1 {
 		width: 50%;
 		float: left;

 	}
 	.column2 {
		width: 50%;
		float: left;
	}
	.column1, .column2 p {
		padding-left: 20px;
		padding-top: 10px;
		color: black;
		font-family: 'Lato', sans-serif;
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 20px;
 	}
 .portfolio_content {
 	width: 95%;
	background: white;
	margin: 0 auto;
 }
 	.portfolio_content a {
 		width: 33.3%;
 		float: left;
 		padding: 5px;
 	}

 .footer {
	width: 100%;
	height: 50px;
	background: white;
	text-align: center;
	padding: 10px;
 }
 	.footer p {
 		padding: 20px;
		color: black;
		font-family: 'Lato', sans-serif;
		font-size: 0.7rem;
		font-weight: 300;
 	}